body {
		background-color: #ffffff; 
		font-family: 'Century Gothic';
		overflow: auto;
		text-align: left;
}

header {
		text-align: center;
		font-family: 'Always In My Heart';
		font-size: 60px;
		color: #F5A9BC;
}

.container {

		max-width: 1000px;
		margin: 0 auto;
		padding: 35px 0px;
}

.section {
	margin: 80px auto;
	max-width: 1500px;
}

nav {
		background-color: white;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: white;
}

header.navItem{
		display: inline-block;
		margin-right: 30px;
		cursor: pointer;
}
header.navItem:hover{
		background-color: rgba(0, 204, 102, 0.3)
}

nav a {
		color: white;
		text-decoration: none;
}
.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
}

.fixed-nav-bar {
		width: 100%;
		background-color: #F5A9BC;
		padding-top: 2px;
		padding-bottom: 2px;

	}

#About {
		background-color: white;
		margin-top: 0
}

#Skills {
	background-color: white;
	text-align: center;
}

#Skills p {
	margin: 10px 0px;
}

#Skills p:last-of-type {
	margin: 0px 0px;
}

#Resume {
	text-align: center;
}

#Contact {
		background-color: white;
		text-align: center;
		text-decoration: none;
}

#About img.PortfolioPicture {
		margin: 0 auto;
		display:block;

}

#Resume {
	background-color: white;
}

#Portfolio {
	background-color: white;
}

.fixed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -9999;
}

.hero {
	height: 400px;
	text-align: center;
}

.hero img.logo {
	width: 200px;
	height: auto;
	display: inline-block;
	padding-top: 80px;
}

#Video {
	text-align: center;
}







		